{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<header class="post-header {{#if feature_image}} has-cover {{/if}}">
	<div class="inner">
		<h1 class="post-title">{{{title}}}</h1>
		{{#if feature_image}}
		<div class="post-cover cover">
			<img
			srcset="{{img_url feature_image size="s"}} 320w,
							{{img_url feature_image size="m"}} 640w,
							{{img_url feature_image size="l"}} 960w,
							{{img_url feature_image size="xl"}} 1920w"
			src="{{img_url feature_image size="xl"}}"
			alt="{{title}}" />
		</div>
		{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{content}}
                
                <div class="gh-subscribe">
                    <h3 class="gh-subscribe-title">Fuel Your Curiosity</h3>
                    <div class="gh-subscribe-description">Every week, I send out a newsletter highlighting the most interesting brain fuel for the fire of curiosity. Sip on articles, book recommendations, interesting videos/photography, and other findings across science, technology, the humanities, and much more.</div>
                    <a class="gh-subscribe-input" href="#/portal/signup">
                        <div class="gh-subscribe-input-text">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.33332 3.33334H16.6667C17.5833 3.33334 18.3333 4.08334 18.3333 5.00001V15C18.3333 15.9167 17.5833 16.6667 16.6667 16.6667H3.33332C2.41666 16.6667 1.66666 15.9167 1.66666 15V5.00001C1.66666 4.08334 2.41666 3.33334 3.33332 3.33334Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.3333 5L9.99999 10.8333L1.66666 5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            jamie@example.com
                        </div>
                        <div class="gh-subscribe-input-btn">Subscribe</div>
                    </a>
                </div>

				{{#if @site.logo}}
				<span class="logo">
					<a href="{{@site.url}}" title="{{t "Home"}}"><img class="logo-image" src="{{@site.logo}}" alt="{{t "Logo"}}" /></a>
				</span>
				{{/if}}
			</section>

		</div>
	</article>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
		var post = $('.post-content');
		// Responsive videos with fitVids
    post.fitVids();
		// Format code blocks and add line numbers
		function codestyling() {
	    $('pre code').each(function(i, e) {
				// Code highlight
	      hljs.highlightBlock(e);
	      // No lines for plain text blocks
	      if (!$(this).hasClass('language-text')) {
	        var code = $(this);
					// Calculate amount of lines
	        var lines = code.html().split(/\n(?!$)/g).length;
	        var numbers = [];
	        if (lines > 1) {
	          lines++;
	        }
	        for (i = 1; i < lines; i++) {
	          numbers += '<span class="line" aria-hidden="true">' + i + '</span>';
	        }
	        code.parent().append('<div class="lines">' + numbers + '</div>');
	      }
	    });
	  }
	  codestyling();
  });
</script>
{{/contentFor}}
